.DS_Store
.build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM
videos/**/.hyperframes/
videos/**/.thumbnails/
videos/**/node_modules/
videos/**/snapshots/
